<h1>Orders</h1>
<br>
<a href="/">⬅ Back to Home</a>
<br><br>
<a href="/order/add">Add Order</a><br><br>

<table border="1">
    <tr>
        <th>Order ID</th>
        <th>Customer</th>
        <th>Order Date</th>
        <th>Total Amount</th>
        <th>Delete</th>
    </tr>

    {% for o in orders %}
    <tr>
        <td>{{ o.order_id }}</td>
        <td>{{ customers[o.customer_id] }}</td>
        <td>{{ o.order_date }}</td>
        <td>${{ o.total_amount }}</td>
        <td><a href="/order/delete/{{ o.order_id }}">Delete</a></td>
    </tr>
    {% endfor %}
</table>
